# Simula demora nas consultas de BD
SIMULATE_WAIT_IN_MS=0

# Tamanho máximo para upload de imagens em bytes
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=921600
# Nome da pasta onde as imagens são salvas após upload
IMAGE_UPLOAD_DIRECTORY=uploads
# URL completa do servidor de imagens sem barra final
IMAGE_SERVER_URL='http://localhost:3000/uploads'

# Chave usada para assinar os tokens JWT
# Use o arquivo src/utils/generate-hashed-password.ts (npx tsx) para gerar uma secret key
JWT_SECRET_KEY='SUA_SECRET_KEY_AQUI'

# Tempo para o login expirar (use o mesmo valor em seconds e string)
# Ex: 3600 -> 1h, 600 -> 10m, 60 -> 1m, 86400 -> 1d
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING='1d'

# Nome do cookie usado para login
LOGIN_COOKIE_NAME='loginSession'

# Nome do seu usuário para logar no site em /admin/login
LOGIN_USER='SEU_USUARIO_AQUI'
# Use o arquivo src/utils/generate-hashed-password.ts (npx tsx) para gerar seu hash de senha
LOGIN_PASS='SEU_HASH_DE_SENHA_AQUI'

# Permite ou não login (0 = Não, 1 = Sim)
ALLOW_LOGIN=1

# URL da API Externa (NestJS)
API_URL='http://localhost:3001'